@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import "tailwindcss";

@theme{
  --font-header: 'League Gothic', sans-serif;
  --color-under: oklch(66.916% 0.15409 241.47);
  --color-pearl-black: oklch(19.4% .047 245.441);
  --breakpoint-tablet: 640px;
}

/* 
@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 9999px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.6);
  }

  .scrollbar-thin::-webkit-scrollbar-position{
    position: center;
  }
} */
