name: Deploy

on:
  push:
    branches: [main]

permissions:
  contents: read
  statuses: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Deploy to Vercel
        uses: amondnet/vercel-action@v25
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          vercel_token: ${{ secrets.VERCEL_TOKEN }}